:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
.color-container {
  width: 50%;
  background-color: var(--grey);
  height: 50%;
  color: var(--black);
  border-radius: 4px;
  margin: auto;
}
.color-container > * {
  margin-bottom: 4rem;
}
.color {
  font-weight: 900;
  font-size: 3rem;
}
.generate {
  color: white;
  background-color: var(--light-blue);
  outline: none;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
}
.generate:hover {
  background-color: var(--white);
  color: var(--dark-grey);
}
